{{ $cvKey := .Params.cv_key }}
{{ $entry := index .Site.Data $cvKey }}
{{ $data := index $entry "content" }}
{{ $config := index $entry "config" }}

{{ if not $data }}
    {{ errorf "No content.yaml found for CV data folder '%s'" $cvKey }}
{{ end }}

{{ $params := merge .Site.Params (dict) }}
{{ if reflect.IsMap $config }}
    {{ $topLevelOverrides := dict }}
    {{ range $k, $v := $config }}
        {{ if and (ne $k "slug") (ne $k "title") (ne $k "params") }}
            {{ $topLevelOverrides = merge $topLevelOverrides (dict $k $v) }}
        {{ end }}
    {{ end }}
    {{ if gt (len $topLevelOverrides) 0 }}
        {{ range $k, $v := $topLevelOverrides }}
            {{ $existing := index $params $k }}
            {{ if and (reflect.IsMap $existing) (reflect.IsMap $v) }}
                {{ $params = merge $params (dict $k (merge $existing $v)) }}
            {{ else }}
                {{ $params = merge $params (dict $k $v) }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ with index $config "params" }}
        {{ if reflect.IsMap . }}
            {{ range $k, $v := . }}
                {{ $existing := index $params $k }}
                {{ if and (reflect.IsMap $existing) (reflect.IsMap $v) }}
                    {{ $newVal := merge $v $existing }}
                    {{ $newParams := dict }}
                    {{ range $pk, $pv := $params }}
                        {{ if ne $pk $k }}
                            {{ $newParams = merge $newParams (dict $pk $pv) }}
                        {{ end }}
                    {{ end }}
                    {{ $params = merge $newParams (dict $k $newVal) }}
                {{ else }}
                    {{ $newParams := dict }}
                    {{ range $pk, $pv := $params }}
                        {{ if ne $pk $k }}
                            {{ $newParams = merge $newParams (dict $pk $pv) }}
                        {{ end }}
                    {{ end }}
                    {{ $params = merge $newParams (dict $k $v) }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $languageCode := or .Lang .Site.LanguageCode .Site.Language.Lang "en" }}
{{ if reflect.IsMap $config }}
    {{ with index $config "languageCode" }}
        {{ $languageCode = printf "%v" . }}
    {{ end }}
{{ end }}

{{ $styleKey := printf "cv-%s" (replace (replace .Params.cv_slug "/" "-") "." "-") }}
{{ .Scratch.Set "data" $data }}
{{ .Scratch.Set "cv_params" $params }}
{{ .Scratch.Set "cv_title" .Title }}
{{ .Scratch.Set "cv_style_key" $styleKey }}
{{ .Scratch.Set "cv_language_code" $languageCode }}
{{ $pageLang := .Scratch.Get "cv_language_code" }}

{{ $defaultSections := slice "name" "profile" "experience" "projects" "thesis" "education" "publications" "references" }}
{{ $defaultSideSections := slice "avatar" "contacts" "skills" "languages" "diplomas" "interests" }}
{{ $sections := $defaultSections }}
{{ if $params.section_order }}
    {{ $sections = $params.section_order }}
{{ else if $params.sectionOrder }}
    {{ $sections = $params.sectionOrder }}
{{ else if and $params.section (reflect.IsSlice $params.section) }}
    {{ $sections = $params.section }}
{{ else if and $params.sections (reflect.IsSlice $params.sections) }}
    {{ $sections = $params.sections }}
{{ end }}

{{ $sideSections := $defaultSideSections }}
{{ if $params.side_section_order }}
    {{ $sideSections = $params.side_section_order }}
{{ else if $params.sideSectionOrder }}
    {{ $sideSections = $params.sideSectionOrder }}
{{ else if and $params.side_section (reflect.IsSlice $params.side_section) }}
    {{ $sideSections = $params.side_section }}
{{ else if and $params.sideSections (reflect.IsSlice $params.sideSections) }}
    {{ $sideSections = $params.sideSections }}
{{ end }}
<!DOCTYPE html>
<html lang="{{ .Scratch.Get "cv_language_code" }}">
    {{ partial "head.html" . }}
<body>
    <div class="content">
        {{ partial "_download_button.html" (dict "showDownload" $params.showDownload "download_button" $params.download_button) }}
        {{ if $params.swapColumns }}
        <div class="content__left content__swapped__left">
        {{ else }}
        <div class="content__left">
        {{ end }}
            {{ range $sections }}
                {{ partial "_render_section.html" (dict "name" . "data" $data "isSide" false "lang" $pageLang "params" $params) }}
            {{ end }}
        </div>
        {{ if $params.swapColumns }}
        <div class="content__right content__swapped__right">
        {{ else }}
        <div class="content__right">
        {{ end }}
            {{ range $sideSections }}
                {{ partial "_render_section.html" (dict "name" . "data" $data "isSide" true "lang" $pageLang "params" $params) }}
            {{ end }}
        </div>
    </div>
</body>
</html>
